*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
systeminfo-transport/.settings/org.eclipse.m2e.core.prefs
*.prefs
systeminfo-transport/.classpath
*.MF
systeminfo-transport/target/classes/OSGI-INF/blueprint/config.xml
systeminfo-transport/target/classes/com/esri/geoevent/transport/systeminfo-transport.properties
systeminfo-transport/target/classes/systeminfo-inbound-transport-definition.xml
systeminfo-transport/target/classes/com/esri/geoevent/transport/systeminfo-transport_en_US.properties
systeminfo-transport/bin/src/main/resources/systeminfo-inbound-transport-definition.xml
systeminfo-transport/bin/src/main/resources/com/esri/geoevent/transport/systeminfo-transport.properties
systeminfo-transport/bin/pom.xml
systeminfo-transport/bin/.project
systeminfo-transport/bin/src/main/resources/com/esri/geoevent/transport/systeminfo-transport_en_US.properties
systeminfo-transport/bin/src/main/resources/OSGI-INF/blueprint/config.xml
.project
